In [1]:
import pandas as pd

In [2]:
telco_data = pd.read_csv('E:/Pythoncode/Coursera/Classification_Algorithms/Logistic_Regression/Telco_Customer_churn/ChurnData.csv')

In [3]:
telco_data.head()

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0

In [5]:
telco_data.count()
# The data set is complete. No missing value it their !!

tenure      200
age         200
address     200
income      200
ed          200
employ      200
equip       200
callcard    200
wireless    200
longmon     200
tollmon     200
equipmon    200
cardmon     200
wiremon     200
longten     200
tollten     200
cardten     200
voice       200
pager       200
internet    200
callwait    200
confer      200
ebill       200
loglong     200
logtoll     200
lninc       200
custcat     200
churn       200
dtype: int64

In [8]:
# Selecting features for Modelling
# Also changing dataType of churn which is Target data from float to int (Required By sklearn)
telco_data = telco_data[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip',   'callcard', 'wireless','churn']]
telco_data['churn'] = telco_data['churn'].astype('int')
telco_data.head()

,tenure,age,address,income,ed,employ,equip,callcard,wireless,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,1
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,1
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,0

In [11]:
telco_data.shape

(200, 10)

In [13]:
# Defining X and Y of our dataset !!

X = telco_data[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip',   'callcard', 'wireless']]
Y = telco_data[['churn']]

In [16]:
X[0:5]

   tenure   age  address  income   ed  employ  equip  callcard  wireless
0    11.0  33.0      7.0   136.0  5.0     5.0    0.0       1.0       1.0
1    33.0  33.0     12.0    33.0  2.0     0.0    0.0       0.0       0.0
2    23.0  30.0      9.0    30.0  1.0     2.0    0.0       0.0       0.0
3    38.0  35.0      5.0    76.0  2.0    10.0    1.0       1.0       1.0
4     7.0  35.0     14.0    80.0  2.0    15.0    0.0       1.0       0.0

In [19]:
# Normalization of DataSet
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[-1.13518441, -0.62595491, -0.4588971 ,  0.4751423 ,  1.6961288 ,
        -0.58477841, -0.85972695,  0.64686916,  1.56469673],
       [-0.11604313, -0.62595491,  0.03454064, -0.32886061, -0.6433592 ,
        -1.14437497, -0.85972695, -1.54590766, -0.63910148],
       [-0.57928917, -0.85594447, -0.261522  , -0.35227817, -1.42318853,
        -0.92053635, -0.85972695, -1.54590766, -0.63910148],
       [ 0.11557989, -0.47262854, -0.65627219,  0.00679109, -0.6433592 ,
        -0.02518185,  1.16316   ,  0.64686916,  1.56469673],
       [-1.32048283, -0.47262854,  0.23191574,  0.03801451, -0.6433592 ,
         0.53441472, -0.85972695,  0.64686916, -0.63910148]])

In [24]:
# Splitting into Train-Test dataset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size =0.2, random_state = 0)

In [30]:
# Checking if the split is correct

print('Train_set :', X_train.shape)
print('Test_set :', X_test.shape)

Train_set : (160, 9)
Test_set : (40, 9)

In [37]:
# Doing Logistic Regressiong

from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,Y_train.values.ravel())
LR

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [45]:
# Predicting the output of Test data
Y_hat = LR.predict(X_test)
Y_hat

array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0])

In [46]:
"""
predict_proba returns estimates of all class
first column is probability of class 0, P(Y=0|X)
second column is probablity of class 1, P(Y =1|X)
"""

Y_hat_prob = LR.predict_proba(X_test)
Y_hat_prob

array([[0.54294155, 0.45705845],
       [0.4230006 , 0.5769994 ],
       [0.44120931, 0.55879069],
       [0.72815389, 0.27184611],
       [0.57931883, 0.42068117],
       [0.67023832, 0.32976168],
       [0.74519672, 0.25480328],
       [0.4687048 , 0.5312952 ],
       [0.64521611, 0.35478389],
       [0.43833637, 0.56166363],
       [0.54858584, 0.45141416],
       [0.75146546, 0.24853454],
       [0.60192269, 0.39807731],
       [0.77162347, 0.22837653],
       [0.68198856, 0.31801144],
       [0.44748878, 0.55251122],
       [0.47933443, 0.52066557],
       [0.82694096, 0.17305904],
       [0.48616774, 0.51383226],
       [0.57901551, 0.42098449],
       [0.71010008, 0.28989992],
       [0.60402223, 0.39597777],
       [0.7238789 , 0.2761211 ],
       [0.44183555, 0.55816445],
       [0.71692066, 0.28307934],
       [0.39430313, 0.60569687],
       [0.63335493, 0.36664507],
       [0.48560319, 0.51439681],
       [0.41165399, 0.58834601],
       [0.45640891, 0.54359109],
       [0.45065225, 0.54934775],
       [0.4305646 , 0.5694354 ],
       [0.59447228, 0.40552772],
       [0.59110394, 0.40889606],
       [0.41209651, 0.58790349],
       [0.67880107, 0.32119893],
       [0.55196325, 0.44803675],
       [0.59351863, 0.40648137],
       [0.54540363, 0.45459637],
       [0.5206817 , 0.4793183 ]])

In [47]:
# Evaluation of model using Jaccard Index

from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(Y_test, Y_hat)

0.75